<% function title() { %>
<title>page b</title>
<%}; %>
<% function styles() { %>
<%}; %>

<% function content() { %>

this is page b

<%}; %>

<% function scripts() { %>
<% }; %>
<% include ../layout/_layout %>

