<% function title() { %>
<title></title>
<%}; %>
<% function styles() { %>
<%}; %>

<% function content() { %>

<div id="app"></div>

<%}; %>

<% function scripts() { %>
<% }; %>
<% include layout/_layout %>
