<% function title() { %>
<title>pc</title>
<%}; %>
<% function styles() { %>
<%}; %>

<% function content() { %>

<h1>this is pc list page</h1>

<%}; %>

<% function scripts() { %>
<script src="<%= config.jsListPcPath %>"></script>
<% }; %>
<% include ../layout/_layout %>

