<% function title() { %>
<title></title>
<%}; %>
<% function styles() { %>
<%}; %>

<% function content() { %>

<div id="app"></div>

<%}; %>

<% function scripts() { %>
<script src="<%= config.jsListSpPath %>"></script>
<% }; %>
<% include ../layout/_layout %>
